body { 
            background-image: url('./holy cow.jpg'); 
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
                 
            font-family: 'Charm', cursive;
            color: white;

	    height: 1000px;
         }

.description {
    position: center; 
    width: 100%; 
    background: rgba(25, 25, 25, 0.98);
    padding: 15px; 
    border-radius: 16px 16px 16px 16px; 
    border: 6px solid #87CEEB; 
    z-index: 20; 
    box-sizing: border-box;
}

.description h1 {
              font-size: 34px;
              margin-bottom: 0px;
              margin-top: 0px;
              color: white;
}

.alt1 {
     color: blue;
     font-size: 19px;
     margin-top: 1px;
}

.search-dock {
    position: fixed;
    bottom: 0; left: 0; width: 100%;
    background: #87CEEB;
    color: black;
    padding: 15px;
    z-index: 100;
    display: flex; flex-direction: column; align-items: center; gap: 10px;
}

.nav-buttons { display: flex; gap: 10px; margin-top: 5px; }
.page-btn {
    background: #333; color: white; padding: 8px 16px; 
    text-decoration: none; border-radius: 40px; border: 1px solid #444;
}